<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  
  <!-- Fuente Titillium Web desde Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {% include nav.html %}
  <hr> <!-- Línea de separación entre el banner y el contenido principal -->
  <!-- Banner del título con barra de navegación superior -->
  <section class="title-banner">
    <div class="title-container">
      <h1>{{ page.title }}</h1>
    </div>
  </section>



  <main>
    {{ content }}
  </main>

  {% include footer.html %}
</body>
</html>

