---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/css/styles.css" | relative_url }}">
</head>
<body>
  <main>
    <header class="centered-header">
      <h1>{{ site.title }}</h1>
      <h2>{{site.subtitle}}</h2>
      <p>{{ site.description | markdownify }}</p>
    </header>

    <section class="intro">
      <div class="container">
        <h1>Hola, soy {{ site.author.name }}</h1>
        <h2>{{ site.author.sub_title }}</h2>
        <p>{{ site.author.description }}</p>
        <img src="/images/your-photo.jpg" alt="Tu foto">
        <p>{{ site.author.about }}</p>
      </div>
    </section>

    <section class="projects">
      <h2>Mis Proyectos</h2>
      <ul>
        {% for project in site.projects %}
          <li>
            <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
            <span class="date">{{ project.date | date: "%B %d, %Y" }}</span>
          </li>
        {% endfor %}
      </ul>
    </section>
    
    <section class="posts">
      <h2>Últimas Noticias</h2>
      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
          </li>
        {% endfor %}
      </ul>
    </section>
  
  </main>
</body>
</html>