---
layout: default
---

<main>
  <!-- Cabecera con título del sitio y lema -->
  <header class="centered-header">
    <h1>{{ site.title }}</h1>
    <h2 id="typing-effect" class="cursor" aria-label="Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live. - Martin Golding"></h2>
    <p>{{ site.description | markdownify }}</p>
  </header>

  <!-- Sección de presentación -->
  <section class="intro">
    <div class="container">
      <h1>{{ site.author.name }}</h1>
      <h2>{{ site.author.sub_title }}</h2>
      <p>{{ site.author.description }}</p>
      <img src="/images/devops-loop.jpg" alt="Tu foto">
    </div>
  </section>

  <!-- Columnas de contenido para Proyectos y Publicaciones -->
  <div class="content-columns">
    <!-- Sección de Proyectos -->
    <section class="projects column">
      <h2>Mis Proyectos</h2>
      <ul>
        {% for project in site.projects %}
          <li>
            <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
            <span class="date">{{ project.date | date: "%B %d, %Y" }}</span>
          </li>
        {% endfor %}
      </ul>
    </section>

    <!-- Sección de Publicaciones -->
    <section class="posts column">
      <h2>Últimas Noticias</h2>
      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</main>

<!-- JavaScript para el efecto de escritura -->
<script src="/js/typing-effect.js"></script>
