---
layout: default
---
<body class="{{ page.class }}">
  <main>
    <!-- Sección de introducción con imagen -->
    <section class="intro">
      <div class="container">
        <img class="intro-gif" src="/images/posts_1.jpg" alt="Tu foto">
      </div>
    </section>

    <section class="project-introduction">
      <h2 style="text-align: center", lang="es">Bienvenido a mi colección de publicaciones</h2>
      <p lang="es">
        En esta sección, comparto una variedad de artículos, tutoriales y reflexiones sobre temas relacionados con la programación, la tecnología y el desarrollo personal. Cada publicación incluye detalles sobre su contenido, el proceso de escritura y las fuentes de información. Mi objetivo es proporcionar una visión transparente de mis intereses, compartir conocimientos y contribuir a la comunidad de lectores y escritores.
      </p>
      <hr class="gradient-separator">
      <h2 style="text-align: center", lang="en">Welcome to my post collection</h2>
      <p lang="en">
        In this section, I share a variety of articles, tutorials, and reflections on topics related to programming, technology, and personal development. Each post includes details about its content, the writing process, and the sources of information. My goal is to provide a transparent view of my interests, share knowledge, and contribute to the community of readers and writers.
      </p>
    </section>

    <!-- Sección de Posts -->
    <section class="posts-list">
      <div class="container">
        <ul>
          {% for post in site.posts %}
            <li>
              <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
              <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
              <p>{{ post.excerpt }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </main>
</body>