---
layout: default
---
<body class="{{ page.class }}">
  <main>
    <!-- Sección de introducción con imagen -->
    <section class="intro">
      <div class="container">
        <img class="intro-gif" src="/images/posts_1.jpg" alt="Tu foto">
      </div>
    </section>
    <!-- Sección de Posts -->
    <section class="posts-list">
      <div class="container">
        <ul>
          {% for post in site.posts %}
            <li>
              <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
              <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
              <p>{{ post.excerpt }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </main>
</body>