---
layout: default
---

<body class="{{ page.class }}">
    <main>
      <!-- Sección de introducción con imagen -->
      <section class="intro">
        <div class="container">
          <img class="intro-gif" src="/images/word-cloud-software.avif" alt="Tu foto">
        </div>
      </section>

      <section class="project-introduction">
        <div class="container-intro">
          <h2 style="text-align: center", lang="es">Bienvenido a mi colección de proyectos</h2>
          <p lang="es">
            En esta sección, comparto una variedad de scripts, programas y desarrollos personales que he creado o estoy desarrollando en diferentes lenguajes y herramientas. Cada proyecto incluye detalles sobre su propósito, el proceso de desarrollo y el repositorio donde puedes explorar el código fuente. Mi objetivo es proporcionar una visión transparente de mi trabajo, compartir conocimientos y contribuir a la comunidad de desarrolladores.
          </p>
          <hr class="gradient-separator">
          <h2 style="text-align: center", lang="en">Welcome to my project collection</h2>
          <p lang="en">
            In this section, I share a variety of scripts, programs, and personal developments that I have created or am developing using different languages and tools. Each project includes details about its purpose, the development process, and the repository where you can explore the source code. My goal is to provide a transparent view of my work, share knowledge, and contribute to the developer community.
          </p>
        </div>
      </section>

      <!-- Sección de proyectos -->
      <section class="projects">
        <div class="container">
          <ul>
            {% for project in site.projects %}
              <li class="projects-item">
                <div class="projects-content">
                  <h2><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
                  <p>{{ project.description }}</p>
                  <span class="date">{{ project.date | date: "%B %d, %Y" }}</span>
                </div>
                <div class="projects-image-container">
                  {% if project.thumbnail %}
                    <img src="{{ project.thumbnail | relative_url }}" alt="Imagen de {{ project.title }}">
                  {% else %}
                    <img src="/images/proj-default.gif" alt="Imagen por defecto">
                  {% endif %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </main>
  <!-- </div> -->
</body>
